@import "tailwindcss";

:root{
    --primary-color:#697af7;
    --secondary-color:#090a19;
    --lightblue:#181b3a;
    --white:#fff;
    --light-text:#2f2f3b;
    --light:#cccccc;
}
/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--secondary-color);
    color: var(--white);
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.container{
    margin: auto;
    max-width: 1200px;
    display: flex;
    gap: 0.5rem;
}

.logo{
    align-items: center;
    font-weight: bold;
    font-size: 1.25rem;
}

.nav-links:hover{
    color: var(--primary-color);
    text-decoration: underline;
  
}

.btn{
    background: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out ;
}
.btn:hover{
    background-color:var(--white);
    color: var(--primary-color);
}

.menu-toggle{
    display: none;
    background: none;
    border: none;
}

/* Hero-Section */
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 10rem 0 10rem;
    background: url("./Images/heroimg.png") var(--secondary-color);
    background-size: 100%;
    gap: 2rem;
}

.intro{
    font-weight: 600;
    color: var(--white);
}
.main-heading{
    color: var(--white);
    font-size: 4rem;
    font-weight: bold;
}
.highlight{
    color: var(--primary-color);
    font-size: 32px;

}
.description{
    color: var(--white);
    margin-top: 0.5rem;
}

.button{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.portfolio-b{
    background: var(--white);
    color: var(--primary-color);
    font-weight: 500;
    border: none;
}
.portfolio-b:hover{
    background: var(--primary-color);
    color: var(--white);
}

.hero-image img{
    width: 800px;
    height: auto;
}

/* About-Section */
.about-section{
    background: var(--secondary-color);
    padding: 4rem 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about-text{
    width: 500px;
}
.about-text h2{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
.about-text h2 span{
    color: var(--white);
}
.about-text p{
    max-width: 700px;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-stats{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}
.stat-box{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1.5rem 2rem ;
    border-radius: 1rem;
    text-align: center;
    min-width: 150px;
}
.stat-box h3{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.stat-box p{
    margin-top: 0.5rem;
    color: var(--white);
    font-size: 1rem;
}

/* Education-Section */
.edu-work{
    padding: 3rem 1rem;
    text-align: center;
    background: var(--secondary-color);
    background: url("./Images/heroimg.png") var(--secondary-color)
}

.label{
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 2.5rem;
}
.edu-work h2{
    font-size: 2.5rem;
    color: var(--white);
}
.edu-work-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.box{
    background: var(--lightblue);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    flex: 1 1 400px;
    max-width: 500px;
    padding: 10px;
    box-sizing: border-box;
}
.box-header{
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 0.75rem;
    padding: 10px;
    margin-bottom: 1.5rem;
}
.EducationCard{
    background: var(--secondary-color);
    padding: 1.5rem;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 1rem;
    text-align: left;
    color: var(--white);
    margin: 20px;
    box-sizing: border-box;
}
.EducationCard:hover{
    transform: translateY(-5px);
    border-bottom: 5px solid var(--primary-color);
}
.EducationCard h4{
    color: var(--primary-color);
}
.EducationCard p{
    color: var(--light);
    margin-bottom: 30px;
}
.icon{
    font-size: 2rem;
    background: var(--primary-color);
    color: var(--white);
    border-radius: 50%;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.date-label{
    background: var(--primary-color);
    color: var(--white);
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-size: 0.85rem;
}
.sub-heading{
    color: var(--primary-color);
    margin-bottom: 20px;
}

/* Portfolio-Section */
